In [12]:
import pandas as pd
import numpy as np

import os

In [14]:
path = os.getcwd()
df = pd.read_excel(path + "\data\Acoustic_Extinguisher_Fire_Dataset.xlsx")

C:\Users\zhiti\Documents\GitHub\Fishing-Control\notebooks

In [46]:
df.head()

   SIZE      FUEL  DISTANCE  DESIBEL  AIRFLOW  FREQUENCY  STATUS
0     1  gasoline        10       96      0.0         75       0
1     1  gasoline        10       96      0.0         72       1
2     1  gasoline        10       96      2.6         70       1
3     1  gasoline        10       96      3.2         68       1
4     1  gasoline        10      109      4.5         67       1

In [51]:
# Факторизация данных для приведения к общему виду +-
df['FUEL'] = pd.factorize(df['FUEL'])[0]

In [52]:
df

       SIZE  FUEL  DISTANCE  DESIBEL  AIRFLOW  FREQUENCY  STATUS
0         1     0        10       96      0.0         75       0
1         1     0        10       96      0.0         72       1
2         1     0        10       96      2.6         70       1
3         1     0        10       96      3.2         68       1
4         1     0        10      109      4.5         67       1
...     ...   ...       ...      ...      ...        ...     ...
17437     7     3       190       86      2.2          5       0
17438     7     3       190       84      2.0          4       0
17439     7     3       190       80      1.5          3       0
17440     7     3       190       76      0.4          2       0
17441     7     3       190       72      0.0          1       0

[17442 rows x 7 columns]

In [45]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split()

       SIZE      FUEL  DISTANCE  DESIBEL  AIRFLOW  FREQUENCY  STATUS
0         1  gasoline        10       96      0.0         75       0
1         1  gasoline        10       96      0.0         72       1
2         1  gasoline        10       96      2.6         70       1
3         1  gasoline        10       96      3.2         68       1
4         1  gasoline        10      109      4.5         67       1
...     ...       ...       ...      ...      ...        ...     ...
17437     7       lpg       190       86      2.2          5       0
17438     7       lpg       190       84      2.0          4       0
17439     7       lpg       190       80      1.5          3       0
17440     7       lpg       190       76      0.4          2       0
17441     7       lpg       190       72      0.0          1       0

[17442 rows x 7 columns]