## Импорты и загрузка данных

In [1]:
import numpy as np
import pandas as pd

import os

In [2]:
path = os.getcwd()

fish_df = pd.read_csv(path + r"\data\db1\ref\fish.csv", error_bad_lines=False, sep=';')
prod_designate_df = pd.read_csv(path + r"\data\db1\ref\prod_designate.csv", error_bad_lines=False, sep=';')
prod_type_df = pd.read_csv(path + r"\data\db1\ref\prod_type.csv", error_bad_lines=False, sep=';')
regime_df = pd.read_csv(path + r"\data\db1\ref\regime.csv", error_bad_lines=False, sep=';')
region_df = pd.read_csv(path + r"\data\db1\ref\region.csv", error_bad_lines=False, sep=';')

catch_df = pd.read_csv(path + r'\data\db1\catch.csv', error_bad_lines=False, sep=',')

# Подмена данных + нормализация
def spoofing(id):
    return fish_df[fish_df['id_fish'] == id]['fish'].values[0]
catch_df['fish'] = catch_df['id_fish'].apply(spoofing)
catch_df['catch_volume'] = catch_df['catch_volume']*1000

product_df = pd.read_csv(path + r'\data\db1\product.csv', error_bad_lines=False, sep=',')

ext1 = pd.read_csv(path + r"\data\db2\Ext.csv", error_bad_lines=False, sep=',')
ext2 = pd.read_csv(path + r"\data\db2\Ext2.csv", error_bad_lines=False, sep=',')

In [13]:
fabrico = ext1[ext1['id_fishery'] == -1]
fabrico_vsd = fabrico['id_vsd'].unique().tolist()
ext1

,id_fishery,id_own,date_fishery,numPart,id_Plat,id_vsd,Name_Plat,Product_period,Region_Plat
0,2208303,6493928,2022-05-24 00:00:00,\N,5022636,8745666,\N,\N,\N
1,5538439,3846064,2022-05-24 00:00:00,\N,839830,3846313,\N,\N,\N
2,8688535,3107158,2022-05-24 00:00:00,\N,9310751,5215676,\N,\N,\N
3,8688535,3107158,2022-05-24 00:00:00,\N,9310751,4008716,\N,\N,\N
4,9102536,6493928,2022-05-24 00:00:00,\N,2900344,8522784,\N,\N,\N
...,...,...,...,...,...,...,...,...,...
3260793,2140098,7372847,2020-12-30 00:00:00,\N,4176694,2113660,\N,\N,\N
3260794,3458281,7115834,2020-12-29 00:00:00,\N,906811,6111511,\N,\N,\N
3260795,3458281,7115834,2020-12-29 00:00:00,\N,906811,3138810,\N,\N,\N
3260796,3458281,7115834,2020-12-29 00:00:00,\N,906811,2081767,\N,\N,\N
3260797,1375359,1337392,2020-12-28 00:00:00,\N,411394,1973630,\N,\N,\N

In [14]:
ext2

,id_vsd,num_vsd,id_fish,fish,date_vsd,volume,unit
0,7230988,8934601,400,минтай,2022-01-01 00:39:56,75480,\N
1,3420538,1439843,400,минтай,2022-01-01 01:34:08,62586,\N
2,9509257,342637,292,треска,2022-01-01 01:34:11,1155,\N
3,1894307,1801854,400,минтай,2022-01-01 01:34:05,111048,\N
4,9410489,3126516,88,окунь-клювач,2022-01-01 01:34:11,1844,\N
...,...,...,...,...,...,...,...
3115275,7436163,4038632,294,краб-стригун опилио,2022-05-25 12:54:52,774,\N
3115276,4519348,9520759,294,краб-стригун опилио,2022-05-25 12:57:18,5533,\N
3115277,1445226,7953654,292,треска,2022-05-25 12:19:02,8235,\N
3115278,7624369,1390453,408,пикша,2022-05-25 12:19:02,756,\N
3115279,5144748,6661687,683,окунь морской,2022-05-25 12:19:02,204,\N

In [17]:
# Чистка больших данных от анонимных данных
ext1 = ext1.drop(ext1[ext1['id_fishery'] == -1].index)
ext1 = ext1.drop(columns=['Name_Plat', 'Product_period', 'Region_Plat', 'numPart'])

In [18]:
# Сводная таблица по всем поступлениям согласно IdFish и выбранного промежутка времени.
def calculatingSummOfFish(fish_name, date_start, date_end):
    print('Processing incoming values')
    # смотрим по всем выловам этой рыбы
    data = catch_df[catch_df['fish'] == fish_name]
    # уникальные номера кораблей ловящих только эту рыбу
    ships = list(set(data['id_ves'].to_list()))
    
    # создаю датафрейм с владельцами и выловом по судам    
    total_df = pd.DataFrame()
    
    total_ships = []
    total_owners = []
    total_catches = []
    
    # добавляем в общую кашу дату и документируем владельцев
    for ship in ships:
        ship_data = data[data['id_ves'] == ship]
        owners = list(set(ship_data['id_own'].to_list()))
        
        for owner in owners:
            ship_owner_data = ship_data[ship_data['id_own'] == owner]
            
            try:
                ship_owner_end_data = ship_owner_data[ship_owner_data['date'] < date_end]
                ship_owner_start_end_data = ship_owner_end_data[ship_owner_end_data['date'] > date_start]
                total_catch = ship_owner_start_end_data['catch_volume'].sum()
            except e:
                print(e)
            
            if total_catch > 0:
                total_catches.append(total_catch)
                total_ships.append(ship)
                total_owners.append(owner)
            
    total_df['total_catches'] = total_catches
    total_df['ship'] = total_ships
    total_df['owner'] = total_owners
    
    return total_df

In [19]:
# Вспомогательная функция вычисления для КОНКРЕТНЫХ ВЛАДЕЛЬЦЕВ ГРУПП СУДОВ, по FishID
def calculatingSummOfFishTransfering(fish_name, start, end):
    print('Processing transfering')
    total_owners = []
    total_transfers = []
    total_fishery_date = []
    total_vsd_date = []
    
    # Смотрю по каждому ID акты передачи    
    vsd_fish_id = ext2[ext2['fish'] == fish_name]['id_vsd']
    # Для каждого акта определяю владельца     
    for vsd in vsd_fish_id:
        owners = ext1[ext1['id_vsd'] == vsd]['id_own'].unique().tolist()
        # Проверяю является ли владелец связанным по двум базам  
        for owner in owners:
            if owner in market_owners:
                data = ext2[ext2['id_vsd'] == vsd]
                try:
                    total_owners.append(owner)
                    total_transfers.append(data['volume'].values[0])
                    total_fishery_date.append(data['date_vsd'].values[0][5:10])
                    total_vsd_date.append(ext1[ext1['id_vsd'] == vsd]['date_fishery'].values[0][5:10])
                except Exception() as e:
                    print(e)
                    
    df = pd.DataFrame()
    
    df['owner'] = total_owners
    df['volume'] = total_transfers
    df['fishery_date'] = total_fishery_date
    df['vsd_date'] = total_vsd_date
    
    return df

### Поиск аномалий

#### Осуществим с помощью вычленения ID рыбы и даты вылова (для простоты возьмем весь период, но можно брать любой промежуток)

In [21]:
# fish_id = input('Введите ID рыбы\n')

default_data = (catch_df['date'][0], catch_df['date'][len(catch_df) - 1])
start, end = default_data

#### Возьмем уникальный лист владельцев судов

In [22]:
catcher_owners = catch_df['id_own'].unique()
traider_owners = ext1['id_own'].unique()

market_owners = []
for owner in traider_owners:
    if owner in catcher_owners:
        market_owners.append(owner)

In [23]:
print(len(catcher_owners), len(traider_owners), len(market_owners))

350 158 121

#### Как видим, db2 не полностью покрывает всех владельцев, следовательно, будем использовать для поиска только тех, которые задействованы в обоих БД

In [69]:
# Смотрим по общему поступлению владельца и общей передачи
def getAllTransfers(id, start, end):
    incoming = calculatingSummOfFish(id, start, end)
    outcoming = calculatingSummOfFishTransfering(id, start, end)
    # Важно учитывать неналичие в таблице вылова владельцев которые не передают ничего.
    inputs = incoming['owner'].unique().tolist()
    outputs = outcoming['owner'].unique().tolist()

    owners = []

    for item in inputs:
        if item in outputs:
            owners.append(item)

    total_catches = []
    total_transfered = []
    total_owners = []
    total_fish = []

    for owner in owners:
        
        catch = in_[in_['owner'] == owner]['total_catches'].sum()
        transfer = out[out['owner'] == owner]['volume'].sum()
        
        if catch > 0 or transfer > 0:
            print(len(inputs), len(outputs), len(owners))
            print(catch, transfer, owner)

            total_catches.append(catch)
            total_transfered.append(transfer)
            total_owners.append(owner)
            total_fish.append(id)

    df = pd.DataFrame()

    df['catches'] = total_catches
    df['transfered'] = total_transfered
    df['owner'] = total_owners
    df['fish'] = total_fish
    
    return df

#### Алгоритмическая обработка явных аномалий

In [77]:
fishes_id = fish_df['fish'].to_list()[1:]

total_df = getAllTransfers(fishes_id[0], start, end)

for fish in fishes_id[1:100]:
    df = getAllTransfers(fish, start, end)
    total_df = total_df.append(df, ignore_index=True)

Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
28 11 9
2854377.0 0 6493928
28 11 9
8846759.0 0 5536455
28 11 9
143.0 286 9382283
28 11 9
1528.8000000000002 2014 2680100
28 11 9
43641599.0 88319860 7115834
28 11 9
8271285.0 15679708 6377225
28 11 9
79574.0 442584 1754744
28 11 9
6642893.0 13286580 3107158
28 11 9
16484165.0 32553978 9290322
Processing incoming values
Processing transfering
85 56 50
2854377.0 0 6493928
85 56 50
8846759.0 0 5536455
85 56 50
143.0 286 9382283
85 56 50
1528.8000000000002 2014 2680100
85 56 50
79574.0 442584 1754744
85 56 50
6642893.0 13286580 3107158
85 56 50
43641599.0 88319860 7115834
Processing incoming values
Processing transfering
11 5 4
8271285.0 15679708 6377225
11 5 4
143.0 286 9382283
11 5 4
1528.8000000000002 2014 2680100
11 5 4
79574.0 442584 1754744
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
27 19 12
2854377.0 0 6493928
27 19 12
7869600.0 16794998 6462295
27 19 12
8271285.0 15679708 6377225
27 19 12
16484165.0 32553978 9290322
27 19 12
1528.8000000000002 2014 2680100
27 19 12
79574.0 442584 1754744
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
2 2 1
44.0 88 3415543
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
10 7 6
1528.8000000000002 2014 2680100
10 7 6
59361805.0 120717228 2369769
10 7 6
31494367.0 66869283 4787153
10 7 6
4616841.0 9355295 1546362
10 7 6
2868234.0 5597675 7180396
10 7 6
43641599.0 88319860 7115834
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
163 76 73
2854377.0 0 6493928
163 76 73
143.0 286 9382283
163 76 73
16484165.0 32553978 9290322
163 76 73
7869600.0 16794998 6462295
163 76 73
43641599.0 88319860 7115834
163 76 73
79574.0 442584 1754744
163 76 73
1528.8000000000002 2014 2680100
163 76 73
8846759.0 0 5536455
163 76 73
31494367.0 66869283 4787153
163 76 73
1639624.0 4177582 3101919
163 76 73
8271285.0 15679708 6377225
163 76 73
2529009.0 5018480 4840022
163 76 73
4616841.0 9355295 1546362
163 76 73
6642893.0 13286580 3107158
163 76 73
24333.0 50917 3095952
163 76 73
4829581.143999999 0 1081815
Processing incoming values
Processing transfering
36 16 14
24333.0 50917 3095952
36 16 14
45692502.095 61878347 3846064
36 16 14
7554552.8 15180990 4882414
36 16 14
10229307.0 21150610 2476787
36 16 14
957328.0 1854510 4673799
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering
Processing incoming values
Processing transfering

In [78]:
total_df

         catches   transfered      owner
0   2.854377e+06          0.0  6493928.0
1   8.846759e+06          0.0  5536455.0
2   1.430000e+02        286.0  9382283.0
3   1.528800e+03       2014.0  2680100.0
4   4.364160e+07   88319860.0  7115834.0
5   8.271285e+06   15679708.0  6377225.0
6   7.957400e+04     442584.0  1754744.0
7   6.642893e+06   13286580.0  3107158.0
8   1.648416e+07   32553978.0  9290322.0
9   2.854377e+06          0.0  6493928.0
10  8.846759e+06          0.0  5536455.0
11  1.430000e+02        286.0  9382283.0
12  1.528800e+03       2014.0  2680100.0
13  7.957400e+04     442584.0  1754744.0
14  6.642893e+06   13286580.0  3107158.0
15  4.364160e+07   88319860.0  7115834.0
16  8.271285e+06   15679708.0  6377225.0
17  1.430000e+02        286.0  9382283.0
18  1.528800e+03       2014.0  2680100.0
19  7.957400e+04     442584.0  1754744.0
20  2.854377e+06          0.0  6493928.0
21  7.869600e+06   16794998.0  6462295.0
22  8.271285e+06   15679708.0  6377225.0
23  1.648416e+07   32553978.0  9290322.0
24  1.528800e+03       2014.0  2680100.0
25  7.957400e+04     442584.0  1754744.0
26  4.400000e+01         88.0  3415543.0
27  1.528800e+03       2014.0  2680100.0
28  5.936180e+07  120717228.0  2369769.0
29  3.149437e+07   66869283.0  4787153.0
30  4.616841e+06    9355295.0  1546362.0
31  2.868234e+06    5597675.0  7180396.0
32  4.364160e+07   88319860.0  7115834.0
33  2.854377e+06          0.0  6493928.0
34  1.430000e+02        286.0  9382283.0
35  1.648416e+07   32553978.0  9290322.0
36  7.869600e+06   16794998.0  6462295.0
37  4.364160e+07   88319860.0  7115834.0
38  7.957400e+04     442584.0  1754744.0
39  1.528800e+03       2014.0  2680100.0
40  8.846759e+06          0.0  5536455.0
41  3.149437e+07   66869283.0  4787153.0
42  1.639624e+06    4177582.0  3101919.0
43  8.271285e+06   15679708.0  6377225.0
44  2.529009e+06    5018480.0  4840022.0
45  4.616841e+06    9355295.0  1546362.0
46  6.642893e+06   13286580.0  3107158.0
47  2.433300e+04      50917.0  3095952.0
48  4.829581e+06          0.0  1081815.0
49  2.433300e+04      50917.0  3095952.0
50  4.569250e+07   61878347.0  3846064.0
51  7.554553e+06   15180990.0  4882414.0
52  1.022931e+07   21150610.0  2476787.0
53  9.573280e+05    1854510.0  4673799.0

,id_vsd,num_vsd,id_fish,fish,date_vsd,volume,unit
0,7230988,8934601,400,минтай,2022-01-01 00:39:56,75480,\N
1,3420538,1439843,400,минтай,2022-01-01 01:34:08,62586,\N
2,9509257,342637,292,треска,2022-01-01 01:34:11,1155,\N
3,1894307,1801854,400,минтай,2022-01-01 01:34:05,111048,\N
4,9410489,3126516,88,окунь-клювач,2022-01-01 01:34:11,1844,\N
...,...,...,...,...,...,...,...
3115275,7436163,4038632,294,краб-стригун опилио,2022-05-25 12:54:52,774,\N
3115276,4519348,9520759,294,краб-стригун опилио,2022-05-25 12:57:18,5533,\N
3115277,1445226,7953654,292,треска,2022-05-25 12:19:02,8235,\N
3115278,7624369,1390453,408,пикша,2022-05-25 12:19:02,756,\N
3115279,5144748,6661687,683,окунь морской,2022-05-25 12:19:02,204,\N